<section id="download_free_sample">
<div class="container">
  <div class="row">
    <h1 style="color:black">Descarga la primera guía TOTALMENTE GRATIS</h1>
  </div> <br><br><br>
  <div class="row">
    <div class="col-md-6">

       <img src="https://dl-web.dropbox.com/get/Innovation%20Lessons/sample_guide_3d_effect_image.png?_subject_uid=392219855&w=AABGMUy-fgX7Fxq8LdiOw3eSreTjlj3lzxtZUMRBYe1aPA" alt="sample" height="100%" width="100%">
    </div>
    <div class="col-md-6" >

      <a href="https://docs.google.com/forms/d/1wC5o2P9Le4DZaWVnSirq2-1DnoYOt7H9OKB5pDZS9mk/viewform" id= "DescargarGuíaPrueba_LB", class="btn btn-warning btn-lg btn-block", style= "margin-top: 200px;color: black;", target="_blank" >Click aquí para descargar la primera guía GRATIS</a>
    </div>
  </div>
</div>

</section>

