<div class="container-fluid col-xs-12 col-md-12" id="container-total">
  <div class="container" id="containerPrimario" >
    <div class="row" id="row1">
      <div class=" col-md-2"></div>
        <div class="col-xs-12   col-md-8 " style="margin-top:200px">
          <div class="colCentral" style="background: rgba(0,0,0,.85); border-radius: 18px;margin:auto;padding: 10px;">
            <h1 style="font-size:60px;">¿Sabes por qué la mayoría de <strong style="color:yellow"> startups </strong> fracasan?</h1>
             <hr>
            <!-- <h2 style="font-size:15px; line-height: 30px"> <span>Resumidas, </span> <span>Prácticas,</span> <span>en Español</span></h2> -->
            <div>

            </div>
          </div> <!--termina div colcentral -->
        </div> <!-- div col8 finaliza -->
        <div class="col-md-2"></div>
      </div>
    </div><!--termina el row1-->
</div><!--termina container primario-->
<br><br>

<section id="response">
  <div class="container">
      <h1 style="color:black">Porque necesitan aprender cómo</h1> <br>
      <div class="row">
      <div class="col-sm-4 ">
        <i class="fa fa-lightbulb-o fa-5x"></i>
        <h3 class="well" style="background-color:white;padding: 31px;">Identificar  nuevas oportunidades que si se conviertan en negocios rentables </h3>
      </div>
      <div class="col-sm-4">
      <i class="fa fa-check-circle fa-5x"></i>
      <h3 class="well" style="background-color:white;padding: 31px;">Validar si sus ideas atienden necesidades reales del mercado </h3>
      </div>
      <div class="col-sm-4">
      <i class="fa fa-rocket fa-5x"></i>
      <h3 class="well" style="background-color:white;padding: 18px;">Obtener, retener y crecer el número de clientes para generar negocios rentables y escalables</h3>
      </div>

      </div>
  </div>

</section> <br><br><!-- termina section respuesta -->



<section id="howwehelp">
  <div class="container-fluid" style="background-color:black">
    <h2 style="color:white">Innovation Lessons pone a tu alcance las <strong style="color:yellow"> estrategias</strong> que <strong style="color:yellow"> emprendedores </strong> y <strong style="color:yellow"> profesionales exitosos </strong> usan para <strong style="color:yellow"> iniciar y crecer negocios rentables y escalables </strong></h2>
  </div>

</section><!-- termina section howwehelp -->


<section <section id="howitworks">

<div class="container-fluid" style="background-color:black" >
      <br><br><br>
      <hr>
      <h1 style="color:yellow">ASÍ FUNCIONA</h1>
      <hr>
      <br><br><br><br>
      <div class="row">
      <div class="col-sm-4 " >
        <i class="fa fa-credit-card fa-4x" style="color:white"></i>
        <h2 style="color:yellow">Suscríbete</h2>
        <h3 class="well" style="color:white; background-color:black;padding: 43px;">Y conoce las estrategias que aplican los emprendedores y profesionales exitosos para iniciar y crecer sus negocios</h3>
      </div>
      <div class="col-sm-4">
      <i class="fa fa-download fa-4x" style="color:white"></i>
      <h2 style="color:yellow">Recibe</h2>
      <h3 class="well" style="color:white; background-color:black; padding: 31px;">Todos los lunes estrategias prácticas, concretas y especializadas, que te guiarán paso a paso en cómo iniciar y crecer tu negocio</h3>
      </div>
      <div class="col-sm-4">
      <i class="fa fa-line-chart fa-4x" style="color:white"></i>
      <h2 style="color:yellow">Crece</h2>
      <h3 class="well" style="color:white; background-color:black;padding: 31px;">Aplicando las estrategias durante la semana, identificando cuáles funcionan mejor para ti, y replicando semana a semana aquellas que hacen crecer tu negocio</h3>
      </div>

      </div>
  </div>

</section><!-- termina section howotworks -->

<section>
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>
  </div>
</section> <!-- termina section whatyouget -->

<section>
  <div class="container-fluid">
      <div class="row">
        <div class="col-sm-6"></div>
        <div class="col-sm-6"></div>
      </div>
  </div>
</section> <!-- termina section I botones subscription -->

<section class="section-emprendedores" > <!-- inicia section logos empresas -->
  <%= render "entrepreneurs_bio_section" %>
</section> <!-- termina section logos empresas -->


<!-- <section class="section-logos" >  inicia section logos empresas -->
  <%#= render "logos_companies_section" %> <!--
</section> termina section logos empresas -->

<div id="ourApproach" style="background-color:#F7F7F7" class="col-xs-12 col-md-12">
  <div class="container" id="secondContainer" >
      <div class="row" style="padding: 20px">
        <h3>encontrarás información práctica para</h3><hr>
          <div class="col-sm-6 embed-responsive embed-responsive-16by9">
          <iframe src="//fast.wistia.net/embed/iframe/fdqiruxe02" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" class="embed-responsive-item" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen width="640" height="480"></iframe><script src="//fast.wistia.net/assets/external/E-v1.js" async></script>
          </div>
          <div class=row id="contentdescription">
              <div class="col-sm-6">
                <ul>
                  <h5><span class="icon-include"></span>Identificar oportunidades de innovación</h5  >
                  <h5><span class="icon-include"></span>Generar y validar modelos de negocio</h5>
                  <h5><span class="icon-include"></span>Implementar investigaciones de usuario</h5>
                  <h5><span class="icon-include"></span>Integrar metodologías ágiles de desarrollo de producto y de mercado</h5>
                  <h5><span class="icon-include"></span>Aumentar las ventas y hacer crecer tu negocio</h5>
                  <h5><span class="icon-include"></span>Validar y desarrollar nuevos negocios</h5>
                  <h5><span class="icon-include"></span>Resolver problemas de negocio a través de herrmaientas de innovación </h5>
                  <h5><span class="icon-include"></span>Perfilar clientes para el desarrollo de nuevos negocios y optimizar los existentes</h5>
                  <h5><span class="icon-include"></span>Crear y validar propuestas de valor que atienden necesidades reales </h5>
                </ul>
              </div>
          </div><!--contentdescription 1-->
      </div>
  </div>
</div> <br><br>
<!-- </div> <! --> <!-- finaliza container video -->


<section id="asesores">

  <div class="container-fluid" style="background: rgba(0,0,0,.40); margin-bottom: -38px;" >
    <div class="row">
      <!-- <div class="col-xs-12 col-sm-4" style="margin-top: 60px;">
        <br>
        <img src="https://farm7.staticflickr.com/6017/5998133376_886ae8ffeb_n.jpg" alt="">
      </div> -->
      <div class="col-xs-12 col-sm-8" style="text-align:left; margin:auto;padding: 10px; color:white; margin-bottom: -38px;padding:50px;">
        <h1 style="color:yellow">Aseores en innovación y emprendimiento usan Innovation Lessons para:</h1> <br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Actualizar las herrmaientas, procesos, metodologías y recomendaciones que utilizan con sus clientes</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span> Mantenerse actualizados y a la vanguardia respecto a negocios, emprendimiento e innovación</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Consultar las estrategias que se están implementando en la actualidad para brindar a sus clientes  conocimiento práctico y efectivo que ayuda a alcanzar los resultados de empresas y startups</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Ahorrar tiempo y dinero con la posibilidad de consultar una sola fuente de información que agrupa lo mejor de las estrategias y fuentes top del mundo relacionadas con innovación y emprendimiento</h4><br>
      </div>
    </div>
  </div> <br> <br>
</section> <!-- termina asesores section -->








<section id="Emprendedores">

  <div class="container-fluid" style="background: rgba(0,0,0,.43); margin-bottom: -38px;">
    <div class="row">
      <div class="col-xs-12 col-sm-4" > </div>

      <div class="col-xs-12 col-sm-8" style="text-align:right ;margin:auto;padding: 10px; color:white; margin-bottom: -38px;padding:50px;">

          <h1 style="color:yellow">Emprendedores y estudiantes  usan Innovation Lessons para:</h1> <br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span>Tomar decisiones en la búsqueda de soluciones a retos académicos presentes en carreras relacionadas con el mundo de los negocios, la innovación y el emprendimiento</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span> Tomar decisiones relacionadas con su emprendimiento o trabajo de grado actual</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span>Mantenerse actualizados y a la vanguardia respecto a negocios, emprendimiento e innovación</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span>Ahorrar tiempo y dinero con la posibilidad de consultar una sola fuente de información que agrupa lo mejor de las estrategias y fuentes top del mundo relacionadas con innovación y emprendimiento</h4><br>

          <h4> <span> <i class="fa fa-circle-o"> </i> </span>Desarrollar competencias prácticas para la toma de decisiones en el campo empresarial</h4><br>
      </div>
    </div>
  </div> <br> <br>

</section> <!-- termina section emprendedores -->

<section id="Profesionales">

  <div class="container-fluid" style="background: rgba(0,0,0,.43); margin-bottom: -38px;">

    <div class="row">

      <div class="col-xs-12 col-sm-8" style="text-align:left ;margin:auto;padding: 10px; color:white; margin-bottom: -38px;padding:50px;">

        <h1 style="color:yellow">Profesionales exitosos usan Innovation Lessons para:</h1> <br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Tomar decisiones de negocio acertadas fundamentadas en una fuente de referencia confiable, práctica y actualizada</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span> Aumentar su productividad generando propuestas disruptivas que llevan su desempeño y reconocimiento profesional al máximo nivel,  para alcanzar el éxito en su carrera</h4><br>

        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Mantenerse actualizados y a la vanguardia respecto a las estrategias, herramientas, procesos y metodologías que utilizan profesionales y empresarios exitosos</h4><br>


        <h4> <span> <i class="fa fa-circle-o"> </i> </span>Desarrollar competencias prácticas para la toma de decisiones en el campo empresarial</h4><br>

      </div>
      <div class="col-xs-12 col-sm-4"></div>
    </div>
  </div><br><br>
</section> <!-- termina section profesionales -->
<hr>

<div class="col-xs-12  col-md-12 ">
  <div class="#" id="#">
    <div class="container-fluid" id="#">
      <div class= "row">
        <div class="col-xs-12" style="text-align:center" >
           <h3>No te quedes atrás. Consulta diariamente tu fuente de refencia para tomar decisiones inteligentes relacionadas con  innovación y emprendimiento</h3>
        </div>
      </div><!--finaliza row1-->
  <!--inicia ultimo container para signup o signin -->
    </div>
    <div class="callToAction">
        <div class="container">
         <div class="row">
          <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <%#= link_to"suscribirme", new_user_registration_path, id: "suscribirmeLanding", class: "btn btn-success btn-lg btn-block", style: "color:white" %>
                <!-- <h6><%#= link_to"ya tengo una cuenta, ingresar a mi cuenta", new_user_session_path, id: "link_pago",  style: "color:grey" %></h6> -->

            </div>

          </div>
           <div class="col-sm-2"></div>
        </div>
    </div>
  </div>
</div>

<div class="col-xs-12  col-md-12 ">
  <footer style=  "margin-top:40px">
        <div class="container">
          <div class="row" >
            <div class="col-xs-12 col-md-3">
            <%#= link_to "política de privacidad y términos de servicio", landing_page_privacyandterms_path, style: "color:#bdc3c7", id: "link_pago"  %>
            </div>
            <div class="col-xs-12 col-md-3" style="color: #7f8c8d;">
              <p> <strong>support@innovationlessons.com</strong> </p>
            </div>

             <div class="col-xs-12 col-md-3">
            <%#= link_to "Quiénes Somos", landing_page_aboutus_path, style: "color:#bdc3c7", id: "link_pago"  %>
            </div>
            <div class="col-xs-12 col-md-3">
              <p><small style="color:#bdc3c7">Copyright &copy; 2015 Innovation Lessons</small> </p>
            </div>
            <!-- <div class="col-sm-6 col-md-4">
                <p><a href="#">Twitter</a><span>
                <a href="#">LinkedIn</a>
            </div><!end col-sm-3 -->
          </div> <!-- end row -->
  </footer>
</div>
