<script>
  mixpanel.track("loaded_subscribe_page",{"Page Name": "Landing_Subscribe_Page"});
  mixpanel.track_links("#PayByGumroad", "clicked pagar por tarjeta crédito");
  mixpanel.track_links("#PayByWire", "clicked pagar por transferencia");
</script>

<br><br><br><br>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1>Elige tu medio de pago preferido</h1>
      <h4 style="color:grey">Tarjeta de Crédito o Consignación/Transferencia Bancaria</h4> <br><br><br>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

       <%= link_to"Pagar con tarjeta de crédito", "#", id: "PayByGumroad",class: "btn btn-warning btn-lg btn-block fa fa-credit-card fa-5x", style: "color:white;" %>
    </div>

    <div class="col-md-1"></div>
  </div> <br><br>
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

       <%= link_to"Pagar por consignación o transferencia bancaria", "#", id: "PayByWire", class: "btn btn-default btn-lg btn-block fa fa-usd fa-5x", style: "color:grey;" %>
    </div>
    <div class="col-md-1"></div>
  </div>
</div>
